%h2
  = "Edit #{ resource_name.to_s.humanize }"

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  .subset.user
    .field
      = f.label :email, t('.email')
      %br
      = f.email_field :email, :autofocus => true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        = "Currently waiting confirmation for: #{ resource.unconfirmed_email }"
    .field
      = f.label :avatar, t('.avatar').html_safe
      - if f.object.avatar.url || f.object.gravatar_url
        .avatar
          = image_tag (f.object.avatar.url(:medium) || f.object.gravatar_url)
      - else
        %br
      = f.file_field :avatar
    .field
      = f.label :password, t('.password').html_safe
      %br
      = f.password_field :password, :autocomplete => "off"
    .field
      = f.label :password_confirmation, t('.password_confirmation')
      %br
      = f.password_field :password_confirmation
    .field
      = f.label :current_password, t('.current_password').html_safe
      %br
      = f.password_field :current_password
      
  .subset.contact
    = render partial: 'users/contact_form', locals: { f: f }

  .subset.entity
    = render partial: 'users/entities_form', locals: { f: f }

  .button.submit
    = f.submit "Update"

%h3
  Cancel my account
%p
  = "Unhappy? #{ button_to("Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete) }".html_safe
  = link_to "Back", :back
