%h2
  = t('.title')

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!

  .subset.user
    .field
      = f.label :email, t('.email')
      %br
      = f.email_field :email, :autofocus => true
    .field
      = f.label :avatar, t('.avatar').html_safe
      - if f.object.avatar.url || f.object.gravatar_url
        .avatar
          = image_tag (f.object.avatar.url(:medium) || f.object.gravatar_url)
      - else
        %br
      = f.file_field :avatar
    .field
      = f.label :password, t('.password')
      %br
      = f.password_field :password
    .field
      = f.label :password_confirmation, t('.password_confirmation')
      %br
      = f.password_field :password_confirmation

  .subset.contact
    = render partial: 'users/contact_form', locals: { f: f }

  .subset.entity
    = render partial: 'users/entities_form', locals: { f: f }

  .button.submit
    = f.submit "Sign up"

= render "devise/shared/links"
