.field
  = f.label :first_name, t('.first_name')
  %br
  = f.text_field :first_name
.field
  = f.label :last_name, t('.last_name')
  %br
  = f.text_field :last_name
.field
  = f.label :birth_date, t('.birth_date')
  %br
  = f.date_select :birth_date
.field
  = f.label :bio, t('.bio')
  %br
  = f.text_area :bio
.field
  = f.label :job_title, t('.job_title')
  %br
  = f.text_field :job_title
.field
  = f.label :website, t('.website')
  %br
  = f.text_field :website
.field
  = f.label :mobile, t('.mobile')
  %br
  = f.text_field :mobile