= fields_for :entity do |entity_form|
  #entities_list
    .first
    - f.object.entities.each do |e|
      .entity
        = e.name
        =# f.hidden_field :
        = button_tag "X", class: "delete_entity"
  .field
    = entity_form.label :existing_entity, t('.existing_entity')
    %br
    = entity_form.select :existing_entity, [[]]+Entity.all.map{ |e| [e.name, e.id] }
  .entity_errors
    .first
  .field
    = entity_form.label :entity_category, t('.entity_category')
    %br
    = entity_form.text_field :category
  .field
    = entity_form.label :entity_name, t('.entity_name')
    %br
    = entity_form.text_field :name
  .submit
    = entity_form.submit "Add an entity", id: "add_entity"