!!!
%html

  %head
    %title
      Mutualab
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
  
    %top_bar
      - if user_signed_in?
        = link_to t('.sign_out'), destroy_user_session_path, method: :delete
        |
        = link_to t('.edit_account'), edit_user_registration_path
      - else
        = link_to t('.sign_in'), new_user_session_path
        |
        = link_to t('.sign_up'), new_user_registration_path
      |
      = link_to t('.home_page'), root_url
      |
      = "(#{ language_selection } )".html_safe
    %br
    %br
    = flash_message
      
    %main
      = yield